header{
    background-color: blue;
    color: crimson;
    padding: 20px;
    
}

#navigation{
    background-color: crimson;
    
}

#container{

    background-color: darkblue;
    width: auto;
    height: 600px;
}


#right{

    background-color: darkcyan;
    width: 150px;
    height: 150px;

    position: absolute;
}